  <h6>Total Kendaraan</h6>
  <div class="row" style="margin-bottom:16px">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
            <h6 class="card-title">Motor</h6>
            <div class="row">
                <div class="col">
                  <img class = "card-img" src="../../../assets/motor.png" alt="Motor">
                </div>
                <div class="col" style="text-align:center">
                    <h6>{{totalMotor}}</h6>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Mobil</h6>
                <div class="row">
                    <div class="col">
                      <img class = "card-img" src="../../../assets/mobil.png" alt="Motor">
                    </div>
                    <div class="col" style="text-align:center">
                      <h6>{{totalMobil}}</h6>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-3">
          <div class="card">
              <div class="card-body">
                  <h6 class="card-title">Truk</h6>
                  <div class="row">
                      <div class="col">
                        <img class = "card-img" src="../../../assets/truk.png" alt="Motor">
                      </div>
                      <div class="col" style="text-align:center">
                        <h6>{{totalTruk}}</h6>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Bus</h6>
                    <div class="row">
                        <div class="col">
                          <img class = "card-img" src="../../../assets/bus.png" alt="Motor">
                        </div>
                        <div class="col" style="text-align:center">
                          <h6>{{totalBus}}</h6>
                        </div>
                    </div>
                </div>
            </div>
          </div>
  </div>